extends _layout
include ./mixins/configuration
include mixins/device
include mixins/side-bar

block content
  .layout(ng-controller="mockup")
    .content
      +device()

    +side-bar()

    .controls
      .rotation
        i.fi-refresh
      .colors
        .silver
          i.fi-burst
        .grey
          i.fi-burst

    +side-bar()

    div(
      list-item-dnd="5",
    ) 5
    ul(list-dnd="widgets")
      li(ng-repeat="widget in widgets")
        widget(
          dynamic-widget="widget.type",
          list-item-dnd="{{ widget }}",
          list-item-dnd-moved="onWidgetMoved($index)",
          list-item-dnd-hide=true
        ) {{ widget.value  }}
